*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-dark-color: #1f2e55;
  --text-light-color: #717fa6;
  --text-white-color: #fff;
  --button-link-main-color: #382ae1;
  --button-link-light-color: #766cf1;
  --box-color: #f7f9ff;

  --background-main-color: #e0e8ff;
  --background-wave-color: #d6e1ff;

  --padding-card-content-container: 48px;

  --margin-top-title: 45px;
  --margin-top-text: 17px;
  --margin-top-plan: 20px;
  --margin-top-button: 32px;
  --margin-top-cancel: 32px;

  --font-size-title: 28px;
  --font-size-text: 16px;
  --font-size-plan: 16px;
  --font-size-price: 16px;
  --font-size-change: 14px;
  --font-size-button: 15px;
  --font-size-cancel: 15px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--background-main-color);
}

.background-wave {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  z-index: -1;
}

.container {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 0 24px;
  max-width: 450px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-content-container {
  padding-left: var(--padding-card-content-container);
  padding-right: var(--padding-card-content-container);
  padding-bottom: var(--padding-card-content-container);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  margin-top: var(--margin-top-title);
  font-style: normal;
  font-weight: 900;
  font-size: var(--font-size-title);
  line-height: 37px;
  text-align: center;
  color: var(--text-dark-color);
}

.card-text {
  margin-top: var(--margin-top-text);
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size-text);
  line-height: 26px;
  text-align: center;
  color: var(--text-light-color);
}

.package-container {
  width: 100%;
  margin-top: var(--margin-top-plan);
  padding: 25px 24px;
  border-radius: 11px;
  background-color: var(--box-color);
  display: flex;
  align-items: center;
}

.package-container img {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.package-price-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.package-price-container h4 {
  font-style: normal;
  font-weight: 900;
  font-size: var(--font-size-price);
  line-height: 21px;
  color: var(--text-dark-color);
}
.package-price-container p {
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size-price);
  line-height: 21px;
  color: var(--text-light-color);
}

.change-package {
  font-weight: bold;
  font-size: var(--font-size-change);
  line-height: 19px;
  text-decoration-line: underline;
  color: var(--button-link-main-color);
  margin-left: auto;
}

.change-package:hover {
  color: var(--button-link-light-color);
  text-decoration: none;
  cursor: pointer;
}

.payment-button {
  width: 100%;
  margin-top: var(--margin-top-button);
  padding: 15px 0;
  font-style: normal;
  font-weight: 900;
  font-size: var(--font-size-button);
  line-height: 20px;
  color: white;
  background-color: var(--button-link-main-color);
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border: none;
  border-radius: 11px;
}

.payment-button:hover {
  background-color: var(--button-link-light-color);
  cursor: pointer;
}

.cancel-order {
  margin-top: var(--margin-top-cancel);
  font-style: normal;
  font-weight: 900;
  font-size: var(--font-size-cancel);
  line-height: 20px;
  text-decoration: none;
  color: var(--text-light-color);
}

.cancel-order:hover {
  color: var(--text-dark-color);
  cursor: pointer;
}

.attribution {
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 375px) {
  :root {
    --padding-card-content-container: 24px;

    --margin-top-title: 32px;
    --margin-top-text: 16px;
    --margin-top-plan: 24px;
    --margin-top-button: 24px;
    --margin-top-cancel: 24px;

    --font-size-title: 22px;
    --font-size-text: 15px;
    --font-size-plan: 14px;
    --font-size-price: 14px;
    --font-size-change: 13px;
    --font-size-button: 15px;
    --font-size-cancel: 15px;
  }
}
